<div class="footer">
    <div class="footer-container">
        <div class="left-section">
            <div class="logo fontSyne">[NG]</div>
            <div class="copyright fontOverpass">© Niklas Gläser 2024</div>
        </div>
        <div class="right-section">
            <img src="/assets/img/arrow-up.png" (click)="scrollToTop()">
            <div class="links">
                <a href="https://github.com/niklasglaeser" target="_blank">
                    <img src="/assets/img/github-icon.png">
                </a>
                <a href="mailto:info@niklasglaeser.de" target="_blank">
                    <img src="/assets/img/email-icon.png">
                </a>
                <a href="https://www.linkedin.com/in/niklas-gl%C3%A4ser-5b691117a/" target="_blank">
                    <img src="/assets/img/linkedin-icon.png">
                </a>
            </div>
            <a href="legalnotice" class="legal fontOverpass" >{{ 'LEGAL_NOTICE' | translate }}</a>
        </div>
    </div>
</div>
