<div id="title">
    <div class="title fontSyne">{{ 'title' | translate }}</div>
    <div class="title-text">
        <div class="underline"></div>
        <div class="name fontOverpass">Niklas Gläser</div>
    </div>
    <div class="title-helper fontOverpass">
        <a class="title-mail" href="mailto:info@niklasglaeser.de" target="_blank">info&#64;niklasglaeser.de</a>
        <div class="scroll-down">
            <div class="scroll-arrow-animation"></div>
            <div class="title-scroll">Scroll<br>Down</div>
        </div>
    </div>
</div>