<div id="skills-section">
    <div class="skills-display">
        <div class="skills-title fontSyne">{{ 'skills-title' | translate }}</div>
        <div class="skill-icons">
            <img src="/assets/img/skill-icons/angular-icon.png">
            <img src="/assets/img/skill-icons/typescript-icon.png">
            <img src="/assets/img/skill-icons/javascript-icon.png">
            <img src="/assets/img/skill-icons/html-icon.png">
            <img src="/assets/img/skill-icons/css-icon.png">
            <img src="/assets/img/skill-icons/firebase-icon.png">
            <img src="/assets/img/skill-icons/git-icon.png">
            <img src="/assets/img/skill-icons/scrum-icon.png">
            <img src="/assets/img/skill-icons/api-icon.png">
            <img src="/assets/img/skill-icons/material-icon.png">
        </div>
    </div>
    <div class="arrow-right">
        <div>
            <img src="/assets/img/arrow-right.png">
        </div>
    </div>
</div>
