#portfolio-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.portfolio-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.title {
    font-size: 78px;
    font-weight: 800;
}

.title-helper {
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 100px;
    padding-top: 30px;
}

.join-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1340px;
    padding-bottom: 100px;
}

.join-display:hover .container img {
    filter: none;
}

.join-display:hover .join-description .skills {
    color: #5988FF;
}

.join-display:hover .join-description .links a {
    color: #5988FF;
}

.order {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 48px;
}

.join-display {

    .order {
        align-self: flex-end;
    }
}

.el-pollo-loco-display {
    
    .order {
        align-self: flex-start;
    }
}

.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container img {
    object-fit: contain;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    height: auto;
    width: 50%;
}

.container img:hover {
    filter: none;
}

.join-description,
.pollo-loco-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.name {
    font-size: 45px;
    font-weight: 800;
}

.skills {
    font-size: 23px;
    font-weight: 400;
    color: #5988FF;
}

.explanation {
    font-size: 16px;
    font-weight: 400;
}

.links {
    display: flex;
    gap: 75px;
    font-size: 32px;
}

.links a {
    max-width: 70%;
    color: #5988FF;
    appearance: none;
    text-decoration: none;
    border: 4px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    &:hover {
        scale: 110%;
        border-color: #5988FF;
    }
}

.el-pollo-loco-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1340px;
    height: auto;
    max-height: 600px;
}

.arrow-left {
    display: flex;
    justify-content: center;
    width: 100%;
}

.arrow-left div {
    display: flex;
    width: 100%;
    max-width: 1340px;
    justify-content: flex-end;
}

