<div id="portfolio-section">
    <div class="portfolio-display">
        <div class="title fontSyne">Portfolio</div>
        <div class="title-helper fontOverpass">{{ 'description' | translate }}</div>
        <div class="join-display">
            <div class="order fontSyne">01/02</div>
            <div class="container">
                <img src="assets/img/join2.png">
                <div class="join-description">
                    <div class="name fontSyne">Join</div>
                    <div class="skills fontOverpass">Javascript | HTML | CSS</div>
                    <div class="explanation fontOverpass">{{ 'join_explanation' | translate }}</div>
                    <div class="links fontOverpass">
                        <a href="https://github.com/niklasglaeser/join-kanban" target="_blank">Github</a>
                        <a href="https://join.niklasglaeser.de/" target="_blank">Live Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-pollo-loco-display">
            <div class="order fontSyne">02/02</div>
            <div class="container">
                <div class="pollo-loco-description">
                    <div class="name fontSyne">El Pollo Loco</div>
                    <div class="skills fontOverpass">Javascript | HTML | CSS</div>
                    <div class="explanation fontOverpass">{{ 'pollo_loco_explanation' | translate }}</div>
                    <div class="links fontOverpass">
                        <a href="https://github.com/niklasglaeser/el-pollo-loco" target="_blank">Github</a>
                        <a href="https://elpolloloco.niklasglaeser.de/" target="_blank">Live Test</a>
                    </div>
                </div>
                <img src="assets/img/pollo-loco.png">
            </div>
        </div>
    </div>
</div>
<div class="arrow-left">
    <div class="arrow-left-container">
        <img src="/assets/img/arrow-left.png">
    </div>
</div>
