<main>
    <app-header></app-header>
    <app-burger-menu></app-burger-menu>
    <div class="legal-notice fontOverpass">
        <h1>{{ 'LEGAL_NOTICE.TITLE' | translate }}</h1>
        <h3>{{ 'LEGAL_NOTICE.GENERAL_INFORMATION' | translate }}</h3>
        <p><b>{{ 'LEGAL_NOTICE.INTERNET' | translate }}:</b> <a href="https://niklasglaeser.de/" target="_blank">https://niklasglaeser.de/</a></p>
        <p><b>{{ 'LEGAL_NOTICE.SERVICE_PROVIDER' | translate }}:</b> Niklas Gläser Privatperson<br><br></p>
        <h3>{{ 'LEGAL_NOTICE.ADDRESS_CONTACT' | translate }}</h3>
        <p>Eichbuschallee 31</p>
        <p>12437 Berlin</p>
        <p><b>{{ 'LEGAL_NOTICE.PHONE' | translate }}:</b> <a href="tel:017672988207">017672988207</a></p>
        <p><b>{{ 'LEGAL_NOTICE.EMAIL' | translate }}:</b> <a href="mailto:niklasglaeser@outlook.de">niklasglaeser&#64;outlook.de</a><br><br></p>
        <p>{{ 'LEGAL_NOTICE.CREATED_BY' | translate }} <a href="https://impressum-generator.info/" target="_blank">impressum-generator.info</a> - powered by <a href="https://abfindungshero.de/" target="_blank">abfindungshero.de</a><br><br></p>
    </div>
    <div class="privacy-policy fontOverpass">
        <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
        <h2>{{ 'PRIVACY_POLICY.OVERVIEW_TITLE' | translate }}</h2>
        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFORMATION' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.DATA_COLLECTION_TITLE' | translate }}</h3>
        <h4>{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY_TITLE' | translate }}</h4>
        <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY_DESCRIPTION' | translate }}</p>
        <h4>{{ 'PRIVACY_POLICY.HOW_WE_COLLECT_DATA_TITLE' | translate }}</h4>
        <p>{{ 'PRIVACY_POLICY.HOW_WE_COLLECT_DATA_DESCRIPTION' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.OTHER_DATA_DESCRIPTION' | translate }}</p>
        <h4>{{ 'PRIVACY_POLICY.HOW_WE_USE_DATA_TITLE' | translate }}</h4>
        <p>{{ 'PRIVACY_POLICY.HOW_WE_USE_DATA_DESCRIPTION' | translate }}</p>
        <h4>{{ 'PRIVACY_POLICY.YOUR_RIGHTS_TITLE' | translate }}</h4>
        <p>{{ 'PRIVACY_POLICY.YOUR_RIGHTS_DESCRIPTION' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.FURTHER_QUESTIONS_DESCRIPTION' | translate }}</p>
        <h2>{{ 'PRIVACY_POLICY.HOSTING_TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.HOSTING_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.EXTERNAL_HOSTING_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.EXTERNAL_HOSTING_DESCRIPTION' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.EXTERNAL_HOSTING_REASON' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.HOSTER_COMPLIANCE' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.HOSTER' | translate }}</p>
        <p>FTP Server</p>
        <h2>{{ 'PRIVACY_POLICY.GENERAL_INFO_TITLE' | translate }}</h2>
        <h3>{{ 'PRIVACY_POLICY.DATA_PROTECTION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.DATA_PROTECTION_DESCRIPTION' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.PERSONAL_DATA_DESCRIPTION' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.DATA_SECURITY_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY_NOTICE_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY' | translate }}</p>
        <p>Niklas Gläser<br />Eichbuschallee 31<br />12437 Berlin</p>
        <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY_PHONE' | translate }}: 0176777788844<br />{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY_EMAIL' | translate }}: niklasglaeser&#64;outlook.de</p>
        <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY_DESCRIPTION_DETAIL' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.DATA_RETENTION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.DATA_RETENTION_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.LEGAL_BASE_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.LEGAL_BASE_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.DATA_RECIPIENTS_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.DATA_RECIPIENTS_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.REVOCATION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.REVOCATION_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.OBJECTION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.OBJECTION_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.COMPLAINT_RIGHT_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.COMPLAINT_RIGHT_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.DATA_PORTABILITY_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.DATA_PORTABILITY_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.ACCESS_CORRECTION_DELETION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.ACCESS_CORRECTION_DELETION_DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY_POLICY.RESTRICTION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.RESTRICTION_DESCRIPTION' | translate }}</p>
        <ul>
            <li>{{ 'PRIVACY_POLICY.RESTRICTION_CASE_1' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.RESTRICTION_CASE_2' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.RESTRICTION_CASE_3' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.RESTRICTION_CASE_4' | translate }}</li>
        </ul>
        <p>{{ 'PRIVACY_POLICY.RESTRICTION_CONSEQUENCE' | translate }}</p>
        <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </div>
    <app-footer></app-footer>
</main>
