main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.legal-notice {
    flex-wrap: wrap;
    width: 80%;
    max-width: 1920px;
    padding-top: 100px;
    padding-left: 100px;
}

.privacy-policy {
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 80%;
    max-width: 1920px;
    padding-left: 100px;
}

@media (max-width: 850px) {
    .legal-notice, .privacy-policy {
        padding-left: 50px;
        padding-top: 50px;
    }
}

@media (max-width: 850px) {
    .legal-notice, .privacy-policy {
        padding-left: 25px;
    }
}
